@using RangerAi.Infrastructure
<!doctype html>
<html lang="en">
<head>
    <!-- // Copyright 2025 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. //-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/i/ranger-face.png" />
    <title>Hello Ranger</title>
    @await RenderSectionAsync("header", false)
</head>
<body>

<header data-bs-theme="dark">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="i/ranger-face.png" style="height:30px; margin-right:8px;" alt="Ranger" /><strong>RANGER</strong>
                </a>
        </div>
    </div>
</header>

@RenderBody()

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">v<span>@ApplicationDetails.Version</span> (@ApplicationDetails.VersionFile)</p>
        <p class="mb-1">RangerAI. CERT © 2025. All Rights Reserved.</p>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("scripts", false)
</body>
</html>
