<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      AutoLoadExtensions="true"
      internalLogToConsole="true"
      internalLogLevel="Error"
>
    <targets>
        <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
        <target name="logfile" xsi:type="File" fileName="logs/application.log" layout="${Date:universalTime=true}|${callsite}|${message}" archiveAboveSize ="1000000" maxArchiveFiles="2" />
        <target name="clientupdates" xsi:type="File" fileName="logs/clientupdates.log" layout="${message}" archiveAboveSize ="10000000" maxArchiveFiles="10" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile, console">
            <filters defaultAction="Neutral">
                <when condition="starts-with('${message}','TIMELINE')" action="Ignore" />
            </filters>
        </logger>
        <logger name="HEALTH" minlevel="Trace" writeTo="clientupdates" />
        <logger name="TIMELINE" minlevel="Trace" writeTo="clientupdates" />
    </rules>
</nlog>
