<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="card shadow-sm">
                <svg aria-label="Placeholder: Lorem Ipsum"
                     class="bd-placeholder-img card-img-top" height="180"
                     preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                     xmlns="http://www.w3.org/2000/svg">
                    <image href="i/cartridges/bc1.png" width="100%" height="100%" preserveAspectRatio="xMidYMin slice"/>
                </svg>
                <div class="card-body">
                    <image src="i/cartridges/bc1.png" style="float:right; height: 240px;margin-left: 10px"/>
                    <h2>Black Current I</h2>
                    <p class="card-text">
                        Terrorist group plans to attack a power plant ahead of a Global Energy Conference, scheduled
                        to take place in West-Donovia. In addition, the terrorist organization has been attempting to organize a
                        protest at the conference and has been attempting to influence public opinion to maximize participation.
                        <br/><br/>
                        Terrorist group has conducted similar attacks in the past, preceding the Global Energy Conference. It is suspected that this group is aided by nation-state actors who are seeking to use the disruption to their advantage, specifically in order to gain persistent access to the power plant.
                        <br/><br/>

                        Intelligence suggests that at least one member of the terrorist group may have inside knowledge of the power plant. According to dark web sources, nation-state actors may have provided access to compromised credentials of power plant employees, and possibly access to malware.
                        <br/><br/>
                        Author: <em>David Rossell</em><br/>
                        Rating: ⭐⭐⭐⭐⭐<br/>
                        Tags: <span class="badge text-bg-secondary">Cyber Terrorism</span>
                        <span class="badge text-bg-secondary">Intel Operations</span>
                        <br/>
                        Difficulty: 4/5<br/>
                        Plays: 1
                    </p>

                    <hr/>
                    <h3>Cartridge Commands</h3>

                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Who</th>
                            <th>What</th>
                            <th>Description or Commands</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>STARTEX</td>
                            <td><span class="badge text-bg-secondary">Ranger</span></td>
                            <td>NPC Init</td>
                            <td>
                                <ul>
                                    <li>/ghosts command tell range:Saratoga to login for the day</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>STARTEX</td>
                            <td><span class="badge text-bg-secondary">Ranger</span></td>
                            <td>Assessment Init</td>
                            <td>
                                <ul>
                                    <li>/assessment Load injects and configure deployment timeline for exercise:"Black Current I"
                                        on range:Saratoga</li>
                                    <li>/assessment build case json and test post to GOLD for exercise:"Black Current I" on
                                        range:Saratoga</li>
                                    <li>/assessment notify evaluator accounts in chat</li>
                                    <li>/assessment Verify METL and EO view</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>+0:15</td>
                            <td><span class="badge text-bg-secondary">Ranger</span></td>
                            <td>Conference announcement</td>
                            <td>
                                <ul>
                                    <li>/greybox Global Energy Conference gallery release</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>+0:30</td>
                            <td><span class="badge text-bg-secondary">Ranger</span></td>
                            <td>Protest begins</td>
                            <td>
                                <ul>
                                    <li>/greybox release protest-01 in gallery</li>
                                    <li>/ghosts have agents post on social media about global energy conference protest</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>+0:45</td>
                            <td><span class="badge text-bg-primary">David Rossell</span></td>
                            <td>Roleplay white cell</td>
                            <td>
                                <ul>
                                    <li>Persona map should lead to site with steganography</li>
                                    <li>Need to determine how this link should be made (what clue?)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">Etc.</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>


    </div>
</main>
