<main>
    <section class="py-2 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-9 col-md-8 mx-auto">
                <h1 class="fw-light">Currently Available Exercise and Training Scenarios</h1>
                <p class="lead text-body-secondary"><strong>The Ranger Cartridge System</strong> include everything you need to run a cyber exercise: range operations, NPC orchestration, grey space management, and more.</p>
            </div>
        </div>
    </section>
    <div class="album bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <image href="i/cartridges/bc1.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Black Current I</strong><br/>
                                Terrorist group plans to attack a power plant ahead of a Global Energy Conference, scheduled
                                to take place in West-Donovia. In addition, the terrorist organization has been attempting to organize a
                                protest at the conference and has been attempting to influence public opinion to maximize participation.
                                <br/><br/>
                                Author: <em>David Rossell</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">Cyber Terrorism</span>
                                <span class="badge text-bg-secondary">Intel Operations</span>
                                <br/>
                                Difficulty: 4/5<br/>
                                Plays: 1
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">May 2021</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <image href="i/cartridges/fm.png" width="100%" height="100%" preserveAspectRatio="xMidYMin slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Falken's Maze</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <br/><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                <br/><br/>
                                Author: <em>Michael Bragg</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">Information Operations</span>
                                <span class="badge text-bg-secondary">SCADA</span>
                                <br/>
                                Difficulty: 3/5<br/>
                                Plays: 21
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">June 2022</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <image href="i/cartridges/cg6.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Cyber Gust 6</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <br/><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                <br/><br/>
                                Author: <em>Molly Jaconski</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">Volt Typhoon</span>
                                <span class="badge text-bg-secondary">Meterpreter</span>
                                <br/>
                                Difficulty: 2/5<br/>
                                Plays: 14
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">April 2020</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <image href="i/cartridges/CG_7_no_mercy.png?=x" width="100%" height="100%" preserveAspectRatio="xMidYMin slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Cyber Gust 7</strong><br/>
                                No Mercy. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <br/><br/>
                                Author: <em>Molly Jaconski</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">APT 22</span>
                                <span class="badge text-bg-secondary">Mimikatz</span>
                                <br/>
                                Difficulty: 3/5<br/>
                                Plays: 15
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">Feb 2021</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <image href="i/cartridges/em-red dawn-2020.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Elite Mercury 2020: Red Dawn</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <br/><br/>
                                Author: <em>Michael Bragg</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">Information Operations</span>
                                <span class="badge text-bg-secondary">SCADA</span>
                                <br/>
                                Difficulty: 4/5<br/>
                                Plays: 5
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">Feb 2020</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Lorem Ipsum"
                             class="bd-placeholder-img card-img-top" height="225"
                             preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <image href="i/cartridges/gcd-2022-poster.png" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" />
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Elite Mercury 2022: Ghostbusters</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                <br/><br/>
                                Author: <em>Clay Fetterman</em><br/>
                                Rating: ⭐⭐⭐⭐⭐<br/>
                                Tags: <span class="badge text-bg-secondary">Volt Typhoon</span>
                                <span class="badge text-bg-secondary">Meterpreter</span>
                                <br/>
                                Difficulty: 5/5<br/>
                                Plays: 6
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More Information</button>
                                    <a type="button" class="btn btn-sm btn-outline-primary" href="detail?id=@Guid.NewGuid()">Run This Exercise</a>
                                </div>
                                <small class="text-body-secondary">April 2022</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
